.App {
  text-align: center;
}

.data-area-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

:root {
  --MSblue: #01A6F0;
  --MSgray: #747474;
  --MSyellow: #FFBA01;
  --MSgreen: #7FBC00;
  --MSorange: #F34F1c;
}

.bg-primary {
  background-color: var(--MSblue) !important;
}

.btn-warning {
  background-color: var(--MSorange) !important;
  color: white !important;
}

.btn-warning:hover {
  background-color: #d7471b !important;
  color: white !important;
}

.btn-info {
  background-color: var(--MSgreen) !important;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #6c9e00 !important;
}

table.result{

}