#entryForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*border:3px solid #729fe3;*/
    padding: 30px;
    width: 700px;
    height: 200px;
    margin-left: 440px;
}

label {
    margin: 0px 10px 0px 10px;
}

@font-face {
    font-family: 'creati';
    src: url(./creatifitasdemo-jra0j.ttf);
}

#submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #01A6F0;
    color: white;
    border: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#submitBtn:hover {
    background-color: #1998d3;
}
