extends layout

block content
  h1= title
  p Welcome to our #{title}!
  div(id="names")
    p by 
    p(id="aayushi") Aayushi
    p(id="ana") Anahita
    p(id="ashwin") Ashwin 
    p(id="mel") Melody  
    p(id="rachel") Rachel 
    p and 
    p(id="zach") Zach
  nav
    a(href='/') Home
    a(href='https://github.com/anahitaafsh/t20') Github Repo
    a(href='/readme') Project Plan
    .animation.start-home
  #authMenu
    if isAuthenticated
      h3 welcome #{username}!
      a(id="authbtn" href='/users/id') view ID token claims
      br
      br
      a(id="authbtn" href='/auth/acquireToken') acquire token
      br
      br
      a(id="authbtn" href='/auth/signout') sign out
    else
      a(id="authbtn" href='/auth/signin') sign in
  
  h3 Project Steps 
  label#ana.container
    | Deploy to App Service
    input(type='checkbox' checked='')
    span.checkmark
  label#mel.container
    | Find Dataset
    input(type='checkbox')
    span.checkmark
  label#ashwin.container
    | Create frontend
    input(type='checkbox')
    span.checkmark
  label#zach.container
    | Authenticate users with Azure AD
    input(type='checkbox')
    span.checkmark
  label#rachel.container
    | Clean and trim data
    input(type='checkbox')
    span.checkmark
  label#aayushi.container
    | Connect to IoT
    input(type='checkbox')
    span.checkmark
  label#mel.container
    | Connect to Database
    input(type='checkbox')
    span.checkmark
  label#ana.container
    | Continuous Deployment with Github
    input(type='checkbox' checked='')
    span.checkmark
