extends layout

block content
  h1= title
  p Welcome to our #{title}!
  div(id="names")
    p by 
    p(id="aayushi") Aayushi, 
    p(id="ana") Anahita, 
    p(id="ashwin") Ashwin, 
    p(id="mel") Melody, 
    p(id="rachel") Rachel, 
    p and 
    p(id="zach") Zach
  p 
    a(href='https://github.com/anahitaafsh/t20') Github Repo
    br
    a(href='/readme') Project Plan
  if isAuthenticated
    h3 welcome #{username}!
    a(href='/users/id') view ID token claims
    br
    br
    a(href='/auth/acquireToken') acquire token
    br
    br
    a(href='/auth/signout') sign out
  else
    a(href='/auth/signin') sign in
  
  h3 Project Steps 
  #checklist 
    input(type='checkbox' checked='')
    label(id="ana") Deploy to App Service
    
    input(type='checkbox')
    label Find Dataset

    input(type='checkbox')
    label Create frontend
    
    input(type='checkbox')
    label Authenticate users with Azure AD

    input(type='checkbox')
    label Clean and trim data

    input(type='checkbox')
    label Connect to Database
    
    input(type='checkbox')
    label Connect to IoT

    input(type='checkbox')
    label(id='mel') Train AI/ML

    input(type='checkbox')
    label Create frontend

    input(type='checkbox' checked='')
    label Continuous Deployment with Github
