extends layout

block content
  h1= title
  p Welcome to our #{title}
  h5 by Aayushi, Anahita, Ashwin, Melody, Rachel, and Zach
  p 
    a(href='https://github.com/anahitaafsh/t20') Github Repo
  if isAuthenticated
    h3 welcome #{username}!
    a(href='/users/id') view ID token claims
    br
    br
    a(href='/auth/acquireToken') acquire token
    br
    br
    a(href='/auth/signout') sign out
  else
    a(href='/auth/signin') sign in
  
  h3 Project Steps 
  #checklist 
    input(type='checkbox' checked='')
    label Deploy to App Service
    
    input(type='checkbox')
    label Find Dataset
    
    input(type='checkbox')
    label Authenticate with Azure AD

    input(type='checkbox')
    label Clean and trim data

    input(type='checkbox')
    label Connect to Database
    
    input(type='checkbox')
    label Connect to IoT

    input(type='checkbox')
    label Train AI

    input(type='checkbox')
    label Create frontend

    input(type='checkbox' checked='')
    label Continuous Deployment with Github
