extends layout

block content
    h1#notes Notes
    p
    a(id="btn" href='/') Home
    h2 Specialties
    p (roughly speaking)
    ul
        li IoT: Rachel, Aayushi
        li AI: Melody, Rachel
        li Security: Ana, Aayushi, Zach
        li App: Ana, Ashwin
        li Data: Rachel, Aayushi
    h2 Basic idea:
    ul
        li there is an IoT device (most likely a fitness device)
        li IoT device has sensor that sends data (most likely heart rate/step/health data)
        li Data is stored somewhere
        li Data is processed with AI to create recommendations and predictions
        li Users login to see their specific data and predictions based on their data
        li Users use app via web

    h2  Resources
    p
    a(href='https://github.com/wongamanda/image-captioning') Amanda&apos;s Project&apos;s Github Repo
    p
    a(href='https://towardsdatascience.com/building-a-deep-learning-image-captioning-model-on-azure-b14ce4682fbf') Amanda&apos;s Project Write-Up
    p
    a(href='https://microsoft-my.sharepoint.com/:w:/p/dthakar/EeFrZf0ZpdlBlt4MBYVc_1gBspeGARu8fmS8PoOIv08JoA') Devanshi&apos;s Project Proposal
    p
    a(href='https://devanshithakar.medium.com/create-your-own-vehicle-recognition-system-with-azure-custom-vision-7d3ad14fd43') Devanshi&apos;s Project Write-Up
