:root {
  --MSblue: #01A6F0;
  --MSgray: #747474;
  --MSyellow: #FFBA01;
  --MSgreen: #7FBC00;
  --MSorange: #F34F1c;
}

@font-face {
  font-family: ana;
  src: url(ana-handwriting.ttf);
}

@font-face {
  font-family: mel;
  src: url(mel-handwriting.ttf);
}

@font-face {
  font-family: aayushi;
  src: url(aayushi-handwriting.ttf);
}

@font-face {
  font-family: rachel;
  src: url(rachel-handwriting.ttf);
}

@font-face {
  font-family: ashwin;
  src: url(ashwin-handwriting.ttf);
}

@font-face {
  font-family: zach;
  src: url(zach-handwriting.ttf);
}

#mel {
  font: 45px "mel";
  letter-spacing: -3px;
}

#ana {
  font: 38px "ana";
  letter-spacing: 1px;
}

#aayushi {
  font: 40px "aayushi";
  letter-spacing: -3px;
}

#rachel {
  font: 63px "rachel";
  letter-spacing: -3px;
}

#ashwin {
  font: 50px "ashwin";
}

#zach {
  font: 45px "zach";
  letter-spacing: -3px;
}

#authMenu {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#btn:link, #btn:visited {
  background-color: white;
  color: var(--MSblue);
  border: 2px solid var(--MSblue);
  text-align: center;
  display: inline;
  padding: 10px;
  border-radius: 8px;
}

#btn:hover, #btn:active {
  background-color: var(--MSblue);
  color: white;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/paper.png);
}

#names {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: -50px;
  margin-bottom: -50px;
}

.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}

.container:hover input ~ .checkmark {
  background-color: var(--MSgray);
;
}

.container input:checked ~ .checkmark {
  background-color: var(--MSblue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

nav {
	margin: 27px auto 0;
	position: relative;
	width: 330px;
	border-radius: 8px;
  background-color: var(--MSyellow);
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 110px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: var(--MSgreen);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: var(--MSorange);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 210px;
	background-color: var(--MSblue);
}
